header{
    background-color: #689268;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

body{
    background-color: #3f7042;
}

.sobre_mi{
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.datos, .yo {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.datos{
    background-color: #99C183;
    flex: 3; 
    text-align: center;
}

.yo{
    background-color: #0A6522;
    flex: 7; 
}

#foto_perfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}